{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>more details</th>

                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>
                            {{i.id}}
                        </td>
                        <td>
                            {{i.title}}
                        </td>  
                        <td>
                            <a href="">click here</a>
                        </td>                      

                    </tr>
                    {% endfor %}             

                </tbody>    
            </table>
        </div>
    </div>        



{% endblock %}    